*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.stopwatch{
    text-align: center;
    margin-top: 200px;
}
.stopwatch h1{
     padding-bottom: 20px;
     font-size: 60px;
     font-weight: bold;
     color: rgb(207, 121, 40);
}
.stopwatch button{
    font-size: 40px;
    border-radius: 8%;
    padding:5px 8px;
}
.stopwatch button{
    background-color: brown;
    color: aliceblue;
}
.stopwatch button:hover{
    background-color: burlywood;
    box-shadow:5px 8px;
    transition: ease-in-out;
    transition: 1.ms;
   
}